body{
    font-family:  -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-recif;
}

h1{
text-align: center;
}

#searchbar{
    width:80%;
    height: 30px;
    margin-left: 20px;
}

.tuile{
    width:300px;
    height:300px;
    float:left;
    margin: 10px;
    transition:transform .8s;
    transform-style:preserve-3d;
    position:relative;
    }


.face {
    border-radius:10px;
    background-size: cover;
    position:absolute;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    width:100%;
    height:100%;
    box-shadow: 5px 5px 5px rgb(100,100,100);
}

.verso {transform:rotateY(180deg);background-color: rgb(200,200,200);}

.face .niveau{
    background-color:rgba(1, 49, 7, 0.9);
    border-radius: 10px;
    float: left;
    margin:5px;
    padding: 2 8;
    font-weight: 600;
    color:white;
}

.face .discipline{
    background-color:rgba(66, 30, 0, 0.9);
    border-radius: 10px;
    float: right;
    margin:5px;
    padding: 2 8;
    font-weight: 600;
    color:white;
}

.face .titre{
    clear:both;
    background-color:rgba(200, 200, 200,0.9);
    text-align: center;
    justify-content:center;
    margin-top:180px;
    height:4.5rem;
    font-size: 1.5rem;
    text-shadow: rgb(200,200,200) 1px 0 10px;
}

.filtre{
    display: none;
}

.icone{
    width: 2rem;
}

.tuile .liens{
    margin-top:5px;
    text-align: center;
}

.retour{
    font-size: 36px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.retour a{
    text-decoration: none;
}

.resume{
    margin: 10px;
}

.qrcode img
{
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .175rem .175rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none !important;
}

.btn-secondary{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #5A6268;
    border-color: #5A6268; /*set the color you want here*/
}

.btn-primary{
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0069D9;
    border-color: #0069D9; /*set the color you want here*/
}

.btn-info{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #138496;
    border-color: #138496; /*set the color you want here*/
}
